<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoshan.dao.UserLoginMapper" >
  <resultMap id="BaseResultMap" type="com.daoshan.bean.UserLogin" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="userpassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="isadm" property="isadm" jdbcType="VARCHAR" />
    <result column="issys" property="issys" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, userpassword, isadm, issys
  </sql>
   <select id="selectUserMse" resultMap="BaseResultMap" parameterType="map">
   select
   <include refid="Base_Column_List" />
   from order_user
   <where>
       <trim prefix="(" suffix=")" suffixOverrides="," >
       issys="1"
       <if test="id != null" >
       and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="username != null" >
       and  username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="userpassword != null" >
       and userpassword = #{userpassword,jdbcType=VARCHAR}
      </if>
      <if test="isadm != null" >
       and isadm = #{isadm,jdbcType=VARCHAR}
      </if>
      </trim>
   </where>
  </select>
</mapper>