a {
   /* color: #ffffff;*/
    text-decoration: none;
}

a:focus, a:hover {
    color: #8ad082;
    text-decoration: none;
    cursor: pointer;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    width: 160px;
}
#myNav > li {
    width:76px;
    height: 60px;
}
#myNav > li > a{
    width: 76px;
    height: 60px;
    line-height: 30px;
    color: #fff;
    background: #424141;
}
#search{
    float: right;
    height: 60px;
    line-height: 60px;
}
#search > input{
    height: 30px;
}
#search > label {
    width: 60px;
    margin-left: 15px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-top: 70px;
    height: 40px;
    line-height: 27px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e6dede;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: #424141;
    height: 60px;
    /* color: #f2f5f5; */
}
#my-navbar-brand{
    color: #fff;
    line-height: 30px;
}
.message_info{
    float: right;
    width: 43%;
    height: 340px;
    margin-top: 30px;
}
.message_info > .title{
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
}
.price{
    height: 200px;
    line-height: 150px;
    font-size: 30px;
    color: red;
    font-weight: 300;
}
#my_btns > .btn{
    height: 40px;
    width: 100px;
    font-size: 16px;
    margin-right: 10px;
}
.handle {
    float: right;
    margin-top: -40px;
    margin-right: 10px;
}
.handle > span {
    font-size: 18px;
    font-weight: 100;
    color: #333;
    margin-right: 1px;
}
.my_content{
    width: 850px;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
}
.my_nav {
    margin-top: 15px;
    border-bottom: ridge #f7f7e9;
}
.information{
    margin-top: 20px;
    float: right;
    width: 250px;
}
.information > div {
    margin-bottom: 15px;
}
.information > div > div{
    width: 250px;
    background-color:#dcd4d4;

}
.child{
    padding: 20px;
    font: 12px/22px Helvetica Neue,Helvetica,Arial,Sans-serif;
}
.information_top > .child1{
    text-align: center;
    line-height: 50px;
    padding: 0px;
    font-size: 20px;
    height: 50px;
    border-bottom: ridge #f7f7e9;
}

.information_top > .child2{
    height: 150px;
}

.information_main > .child1{
    padding:  0px 0px 0px 0px;
    height: 50px;
    border-bottom: ridge #f7f7e9;
    text-align:center;
    line-height: 50px;
    font-size: 20px;
}

.information_main > .child2{
    height: 122px;
}

.information_bottom > .child1{
    height: 50px;
    border-bottom: ridge #f7f7e9;
    text-align:center;
    padding: 0px;
    font-size: 20px;
    line-height: 50px;
}

.information_bottom > .child2{
    height: 60px;
    line-height: 60px;
    padding: 0px;
    text-align: center;
}

.information_comments > .child1{
    height: 50px;
    border-bottom: ridge #f7f7e9;
    text-align:center;
    padding: 0px;
    font-size: 20px;
    line-height: 50px;
}

.information_comments > .child2{
    height: 450px;
    line-height: 60px;
}
.consult{
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 25px;
    color: #3bd017;
    border: solid 1px;
    margin-bottom: 8px;
}
.consult > span {
    margin-right: 15px;
}
.my_foot{
    width: 100%;
    height: 220px;
    background: #474443;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #ffffff;
}
.logo_info {
    font-size: 32px;
}
.logo_info > span{
    margin-right: 10px;
}
.foot_info{
    height: 66px;
    margin-top: 20px;
    width: 430px;
    font-size: 12px;
}
.foot_info_right{

    float: right;
    margin-top: -70px;
}
.foot_info_right > a{
    font-size: 12px;
    color: #ddd;
}
.copyright{
    margin-top: 10px;
    color: #999;
    font-size: 12px;
}
#my-navbar-brand > span{
    margin-right: 5px;
}
#my_content_one{
    overflow: scroll;
    height: 800px;
}
#my_content_two{
    overflow: scroll;
}
#my_content_three{
    overflow: scroll;
}
#my_content_four{
    width: 850px;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
}
#mulu{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    border-bottom: solid 1px #b8b8c3;
}
.one{
    color: #999;
    text-align: left;
    font-size: 14px;
    width: 62px;
}
.two{
    color: #333;
    width: 600px;
}
.three{
    color: #999;
    text-align: right;
    font-size: 14px;
}
.mulu_title :hover {
    cursor:pointer;
}
.mulu_title{
    margin-bottom: 10px;
}
.mulu_content{
    padding-top: 5px;
}

.course_comments{
    border-top: solid 1px #dad2d1;
    padding-top: 15px;
    margin-bottom: 15px;
}
.image{

}
.comments_content{
    margin-left: 65px;
    margin-top: -52px;
}
.comment_head{
    color: #21a557;
    font-family: '宋体 arial';
    font-size: 14px;
    line-height: 26px;
}
.comment_mid{
    font-size: 12px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.comment_bottom > a{
    color: #999;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
}
.comment_bottom > a:hover{
    cursor:pointer;
    color: #8181a9;
}
.comments_time{
    width: 120px;
}
.comments_one{
    margin-left: 300px;
}
.comments_two{
    margin-left: 15px;
}
.comments_three{
    margin-left: 15px;
}
.comments_four{
    margin-left: 15px;
}
.edit_comments{
    margin-bottom: 15px;
}
.my_textarea{
    height: 70px;
    width: 100%;
}
.btn_comments{
    width: 60px;
    height: 30px;
    font-size: 12px;
    height: 34px;
    color: #fff;
    float: right;
    background: #60ab1d;
}
.fa_biao{
    margin-top: 10px;
    height: 33px;
}
.commentss{

}
.btn_comments :hover{
    background:#71ca23;
}
.comments_children{
    display: none;
    border: 1px solid #d5d5d5;
    margin: 10px 0 0 0;
    background-color: white;
    padding: 10px 10px 15px 10px;
}
.image_child_image{
    float: left;
}
.comments_child_head{
    color: #10ae58;
    cursor: pointer;
    font-size: 12px;
}
.comments_child_content{
    color: #999;
    line-height: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 12px;
    height: 30px;
    overflow: hidden;
    margin-top: 10px;
}
.comments_child_message{
    margin-left: 35px;
}
.child1_comments{
    padding-bottom: 10px;
    border-bottom: dotted 1px #dcdcdd;
}
.my_textarea_child{
    height: 60px;
    width: 100%;
    font-size: 12px;
}
.fa_biao_child{
    height: 34px;
}
.btn_comments_child{
    width: 60px;
    height: 30px;
    font-size: 12px;
    height: 34px;
    color: #fff;
    float: right;
    background: #60ab1d;
}
.btn_comments_child :hover{
    background:#71ca23;
}
.love{
    color: #10ae58;
}
.dmeo{
    margin-bottom: 30px;
    margin-top: -30px;
    color: brown;
}
.buy-titlt{
    color: #de993c;
    font-size: 18px;
}
.buy-body {
    color: #e02525;
}
.buy-button{
    width: 80px;
}
.user-info-message{
    position: absolute;
    padding: 0px;
    float: right;
    margin-top: 60px;
    width: 130px;
    background: #fbfbfb;
    border: 1px solid #d0d0ec;
    right: 0px;
    display: none;
    top: 0px;
    z-index: 1;
}

.user-info-message > li{
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #6a6f64;
}
.user-info-message > li >a {
    color: rgb(51, 122, 183);
}
.user-info-message > li:hover{
    background: #9ea3c1;
    color: white;
}

#head-image2 {
    width: 25px;
    height: 25px;
    margin-left: 35px;
}
#cancel-collect{
    display: none;
}
#collect{
    display: none;
}
#collect :hover{
    color:#3bd017;
}
#cancel-collect :hover{
    color:#3bd017;
}
#spare :hover{
    color:#3bd017;
}
#search >label >  a{
    color: #ffffff;
}
#search >label > a:hover{
    color: #8ad082;
}